# Importing packages

In [1]:
import pandas as pd

# Importing csv files

In [19]:
file_directory = r'C:\Users\titou\Desktop\python_test_files\ML_classic\hackathon\csv_data_cleaning'

In [13]:
r'C:\Users\titou\Desktop\python_test_files\ML_classic\hackathon\csv_data_cleaning'

'C:\\Users\\titou\\Desktop\\python_test_files\\ML_classic\\hackathon\\csv_data_cleaning'

In [21]:
# data with many lines
pd.read_csv(file_directory + r"\big_data.csv", nrows=10)

   id  value
0   1   0.01
1   2   0.02
2   3   0.03
3   4   0.04
4   5   0.05
5   6   0.06
6   7   0.07
7   8   0.08
8   9   0.09
9  10   0.10

# Data cleaning

In [ ]:
# lines with wrong format:
pd.read_csv(file_directory + r"\data_broken.csv", on_bad_lines="skip")

   id     name   age
0   1    Alice  30.0
1   3  Charlie   NaN
2   4    David  25.0

In [32]:
file_name = r"\data_semicolon.csv"
pd.read_csv(file_directory + file_name, sep=";")

   id     name  age
0   1    Alice   30
1   2      Bob   27
2   3  Charlie   29

In [35]:
file_name = r"\no_header.csv"
pd.read_csv(file_directory + file_name, header=None)

   0       1     2
0  1   Apple  0.56
1  2  Banana  0.73